<div style="text-align: center;">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div style="margin-bottom: 20px;">
      <label for="name">
        UserName
      </label>
      <input id="name" type="text" formControlName="username">
    </div>

    <div style="margin-bottom: 20px;">
      <label for="password">
        Password
      </label>
      <input id="address" type="text" formControlName="password">
    </div>
    <button class="button" type="submit">Login</button>

  </form>
</div>